<section>
	<h2>Secret</h2>
	<h3>username: {{session.username}}</h3>
	<h3>loggedIn: {{session.loggedIn}}</h3>
	<h3>User ID:{{session.user_id}}</h3>
	<h3>path: {{session.cookie.path}}</h3>
	<h3>expires: {{session.cookie._expires}}</h3>
	<h3>originalMaxAge: {{session.cookie.originalMaxAge}}</h3>
	<h3>httpOnly: {{session.cookie.httpOnly}}</h3>
	{{log session}}
</section>